
    body {
        background-image: url('images/grass.webp');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
    }

#sceneDisplay {
    font-family: VT323;
    max-width: 500px;
   
   
    background-size: 100% auto;
    margin-left: auto; 
    margin-right: auto; 

}


.typed-cursor {
    opacity: 1;
    animation: typedjsBlink 0.7s infinite;
    -webkit-animation: typedjsBlink 0.7s infinite;
    animation: typedjsBlink 0.7s infinite;
}

@keyframes typedjsBlink {
    50% { opacity: 0.0; }
}
@-webkit-keyframes typedjsBlink {
    0% { opacity: 1; }
    50% { opacity: 0.0; }
    100% { opacity: 1; }
}
#sceneButton {
    padding: 30px 20px;
}

.mushroom-corner {
    position: absolute;
    width: 200px;
    height: auto; 
}






.mushroom-bottom-left {
    bottom: 0;
    left: 0;
    animation: bounce 1s infinite ease-in-out;
}

.mushroom-bottom-right {
    bottom: 0;
    right: 0;
    animation: bounce 1.2s infinite ease-in-out;
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); 
    }
  }