@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your custom styles can go below this line. */

/* Example: Overriding a Tailwind style (be cautious with overrides) */
/* .btn {
  @apply py-2 px-4 bg-blue-500 text-white font-bold rounded-lg shadow-md;
} */

/* Example: Custom classes */
/* .custom-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
} */

/* Example: Responsiveness with Tailwind */
/* .responsive-text {
  @apply text-base sm:text-lg md:text-xl lg:text-2xl;
} */

/* Example: Utility class for centering items */
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* This helps to ensure that the page takes up at least the full height of the viewport */
html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

/* Set up box-sizing to border-box for all elements */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Remove default margin for common elements */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  
  *,
  *:before,
  *:after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}